.search_bar {
    position: relative;
}

.search_bar input[type='text'] {
  padding: 8px 8px 8px 34px!important;;
  color: var(--dark);
}

.search_icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--dark);
}